<a href="https://colab.research.google.com/github/StanleyLiangYork/PythonDatabase/blob/master/SQLite_connect.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
# CREATING THE TABLE
import sqlite3

# will create a new test.db file in the current path
conn = sqlite3.connect('test.db') 
print("Opened database successfully");

conn.execute('''
CREATE TABLE IF NOT EXISTS team_data(team text, 
                      country text, 
                      year integer, 
                      total_goals integer);''')

conn.commit()

print("Table created successfully");

conn.close()

Opened database successfully
Table created successfully

In [9]:
# INSERTING VALUES
conn = sqlite3.connect('test.db')
conn.execute("INSERT INTO team_data VALUES('Real Madrid', 'Spain', 2019, 53);")
conn.execute("INSERT INTO team_data VALUES('Barcelona', 'Spain', 2019, 47);")
conn.execute("INSERT INTO team_data VALUES('Arsenal', 'UK', 2019, 52);")
conn.execute("INSERT INTO team_data VALUES('Real Madrid', 'Spain', 2018, 49);")
conn.execute("INSERT INTO team_data VALUES('Barcelona', 'Spain', 2018, 45);")
conn.execute("INSERT INTO team_data VALUES('Arsenal', 'UK', 2018, 50 );")

conn.commit()
conn.close()

In [19]:
# Get the average goal by team

conn = sqlite3.connect('test.db')

cursor = conn.execute(''' SELECT team,
                            AVG(total_goals) AS avg_goals
                          FROM team_data
                          GROUP BY team;''')

for row in cursor:
  print(f'Team: {row[0]},  average score: {row[1]}')

conn.close()

Team: Arsenal,  average score: 51.0
Team: Barcelona,  average score: 46.0
Team: Real Madrid,  average score: 51.0

In [21]:
# First try to filter the teams with average goals higher than 50

conn = sqlite3.connect('test.db')
cursor = conn.execute('''SELECT team_name, avg_goal
                       FROM (SELECT team AS team_name, AVG(total_goals) AS avg_goal
                       FROM team_data
                       GROUP BY team)
                       WHERE avg_goal > 50
                      ''')
for row in cursor:
  print(row)

conn.close()

('Arsenal', 51.0)
('Real Madrid', 51.0)